<div class="show_bg row">
    <div class="show_title container">
        <h1><%= @job.title %></h2>
    </div>
</div>

<div class="container">
    <hr>

    <!-- row  -->

    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>薪水范围：</strong>
                    <span class="fa fa-rmb"></span><%= @job.wage_lower_bound%>
                    -
                    <%= @job.wage_upper_bound%>
                </li>
                <li class="list-group-item">
                    <strong>应聘人数：</strong><%= @job.resumes.count %>
                </li>
                <li class="list-group-item">
                    <strong>刊登时间：</strong><%= @job.created_at.to_date %>
                </li>
            </ul>
        </div>
    </div>
    <hr>

    <p>
        <h4>需求描述：</h4>
        <blockquote id="description">
            <%= simple_format(@job.description) %>
        </blockquote>
    </p>
</div>
</p>
</div>

<div class="text-center">
   <%= link_to("投递简历", new_job_resume_path(@job), class: "btn btn-default pull-center")%>
</div>
