<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">教练汇</h1>
       <p class="slogan">教练汇 为运动达人搭建找工作的平台
         <br>
         来吧 每一个运动细胞
         <br>
         我们在这里等你
         <br>
         等待你的精彩
       </p>
       <p class="lead">
         <%= link_to '申请职位', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
</div>


<!-- Content One-->
<section id="feature" class="our-experts">
    <div class="container">
        <div class="row">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="section-title">随时随地 发现新工作</h2>
                  <div class="short-line"></div>
                  <p class="index-contect">
                    精心筛选优秀企业雇主
                    <br>
                    最新招聘职位发布
                    <br>
                    解决千里马找伯乐的问题
                  </p>
                  <%= image_tag("sports01.png") %>
                  <%= image_tag("sports02.png") %>
                  <%= image_tag("sports03.png") %>
              </div>
          </div>

        </div>
    </div>
</section>
<!-- end Content One -->

<!--Content two-->
<div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">更快</h2>
       <p class="lead">快人一步获取全新职场信息<br>手机 电脑、pad即时获取信息<br>点击按钮上传简历</p>
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

<div class="content-section-b">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">更高</h2>
       <p class="lead">你带领更多的人启动运动按钮<br>我们带领你启动职场按钮<br>运动成就你我</p>
     </div>
     <div class="col-lg-5 col-sm-pull-6  col-sm-6">
       <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>

<div class="content-section-a">
 <div class="container">
   <div class="row">
     <div class="col-lg-5 col-sm-6">
       <hr class="section-heading-spacer">
       <div class="clearfix"></div>
       <h2 class="section-heading">更强</h2>
       <p class="lead">庞大迅捷的信息数据中心<br>链接教练和俱乐部<br>从始至终的专业服务</p>
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-6">
       <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
     </div>
   </div>
 </div>
</div>
<!--end Content two-->
